/* Inactive style for Voat v1.1a - https://voat.co/v/Inactive */

* {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

#nightmodetoggle, #nightmodetoggle + .separator {
	display: none;
}

body, #container, .modal {
	background: #008080;
	font-family: 'Verdana', sans-serif;
	-webkit-font-smoothing : none !important;
	font-smooth: never !important;
}

.modal {
	background: transparent;
}

.footer p, .footer a {
	color: #fff;
}

.footer a {
	text-decoration: underline;
}

#header:focus {
	outline: none;
}

#container {
	border: 0;
}

#header > #sr-header-area .whoaSubscriptionMenu.hover ul {
	border: 1px solid #000;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#header > #sr-header-area .whoaSubscriptionMenu.hover ul li > a {
	border: 1px dotted #fff;
}
#header > #sr-header-area .whoaSubscriptionMenu.hover ul li > a:hover {
	color: #000;
	background: #000080;
}

#header > div, #container > .content,
#container > .side,
#container .submission,
#container > .side .content,
#container > .side .spacer,
#container > .well,
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
	color: #000;
	background: #c0c0c0;
	border: 1px solid #dfdfdf;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

.modal .modal-body,
.modal .modal-footer {
	border-top: 0;
}

#container > .content,
#container > .side,
#container > .well {
	padding: 1px 2px;
}

#container > .content:before,
#container > .side:before,
#container > .well:before {
	content: "";
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	padding-left: 4px;
	display: block;
	height: 16px;
	margin: 1px 0;
}

#container > .content:before,
#container > .side:before,
#container > .well:before,
.modal .modal-header {
	background: #000080;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000080', endColorstr='#1084d0', GradientType=1);
	background: -webkit-gradient(linear, left top, right top, from(#000080), to(#1084d0));
	background: -webkit-linear-gradient(left, #000080, #1084d0);
	background: -moz-linear-gradient(left, #000080, #1084d0);
	background: -o-linear-gradient(left, #000080, #1084d0);
	background: linear-gradient(to right, #000080, #1084d0);
}

#container .submission {
	margin: 4px 2px;
}

.modal label.control-label {
	color: #000;
	background: transparent;
	text-shadow: none;
	border-bottom: 0;
}

.modal input.form-control[type="text"],
.modal input.form-control[type="password"],
.modal input.form-control[type="text"]:focus,
.modal input.form-control[type="password"]:focus {
	color: #000;
	border: 1px solid #000;
}

#header a,
#sr-header-area .sr-list a,
#container a,
.modal a,
.alert a {
	color: #00f;
	text-decoration: underline;
}

#sr-header-area:hover .sr-list.hover a {
	color: #000;
}

#header .pagename {
	font-weight: bold;
}

#container * {
	color: #000;
}

#header .tabmenu li a,
#container [class^="btn-"],
.alert [class^="btn-"],
.modal [class^="btn-"],
.modal button,
#container button,
#container input[type="submit"],
#container input[type="button"] {
	color: black;
	border: 1px solid #fff;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background: lightgray;
	text-decoration: none;
	min-width: 24px;
	filter: alpha(opacity=100) !important;
	opacity: 1 !important;
}

#header .tabmenu li.selected a {
	font-weight: bold;
}

#header .tabmenu li a:active,
#container [class^="btn-"]:active,
.alert [class^="btn-"]:active,
.modal [class^="btn-"]:active,
.modal button:active,
#container button:active,
#container input[type="submit"]:active,
#container input[type="button"]:active {
	border: 1px solid #808080;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

#container input[type="text"],
#container textarea {
	border: 1px solid #000;
}

#container .entry .tagline .post_upvotes {
	color: #00f;
}

#container .entry .tagline .post_downvotes {
	color: #f00;
}

#container .entry .title .promoted {
	background: #ffffcc;
	border: 1px solid #000;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	padding: 3px 2px;
}

/* You may change this if you want different text or delete if you don't want titles */

#container > .content[role="main"]:before {
	content: ""; /* Put your subverse name here! */
}

#container > .side:before {
	content: "Sidebar";
}
